region = "eu-central-1"

project = "project-name"

environment = "dev-staging-production"

state_bucket_name = "example-static-website-terraform-state-dev"

lock_table_name = "example-static-website-terraform-locks-dev"
